{% extends 'index.html' %}

{% block content %}
{{ super() }}
<div class="creater-info">
<p>Das Team von Entwicklern, die an diesem Projekt gearbeitet haben, besteht aus Experten in der künstlichen Intelligenz und der Programmierung. Sie haben gemeinsam an der Erstellung dieses Systems gearbeitet, um sicherzustellen, dass es den Anforderungen entspricht und reibungslos funktioniert.</p>
<p>Die Hauptverantwortlichen für dieses Projekt sind Antonov Ivan und Tolpegin Alexander. Sie haben dieses Projekt von Anfang an geleitet und ihr Wissen und ihre Erfahrung in der Entwicklung eingesetzt.</p>
<p>Das Team konnte sein Engagement und seine Begeisterung für die Schaffung einer intelligenten und sicheren Plattform unter Beweis stellen.</p>
</div>
<p class="who">Erstellt mit Antonov Ivan und Tolpegin Alexander</p>
{% endblock content %}